# Database
DB_URL=jdbc:mysql://localhost:3306/
DB_USERNAME=root
DB_PASSWORD=Base_Securisee_123

# JWT
JWT_SECRET_KEY=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
JWT_EXPIRATION=86400000

# Keycloak
KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_ISSUER_URI=http://localhost:8080/realms/devunity
KEYCLOAK_REALM=devunity
KEYCLOAK_CLIENT_ID=devunity-app
KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=admin

# Email
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME_LANGUAGE=hbouthayna18@gmail.com
MAIL_PASSWORD_LANGUAGE=athm aixu pnuw lzkw
MAIL_USERNAME_COMMUNITY=chaibimarwa18@gmail.com
MAIL_PASSWORD_COMMUNITY=njtkanipwsvtsuoy

# Cloudinary
CLOUDINARY_CLOUD_NAME=ddtfi7kal
CLOUDINARY_API_KEY=971417699379591
CLOUDINARY_API_SECRET=SzcF1Ll17RR2oMvueIXikFAN2IM

# Gemini
GEMINI_API_KEY=AIzaSyDUt5ys9LImLI4AxMTClPVfGEbsWX8Al4U

# Eureka & Services
EUREKA_SERVER_URL=http://localhost:8761/eureka
FRONTEND_URL=http://localhost:4200
ML_SERVICE_URL=http://localhost:8090

# Elasticsearch
ELASTICSEARCH_HOST=https://localhost:9200
ELASTICSEARCH_USERNAME=elastic
ELASTICSEARCH_PASSWORD=SJ3Abz3qKoD4t1mqb+st
